body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightgreen;
}

.MainMenu {
    border: 10px solid black;
}
.Levels .level1{
   height: 200px;
   width: 200px;
}